@import "@styles/variables"
@import "@styles/breakpoints"

.root
  position: relative
  padding: 77px 0 68px 70px
  font-family: $font-header

.subheader
  position: absolute
  top: 0
  left: 0
  font-size: 6.875rem
  color: $accent-60
  filter: blur(4px)
  text-transform: uppercase
  display: flex
  align-items: flex-start

.header
  color: $secondary
  font-size: 3.875rem
  line-height: 1.03
  position: relative
  white-space: pre-line
