@font-face
  font-family: "Donut Quest"
  src: url("/fonts/DonutQuest/DonutQuest.ttf")
  font-style: normal
  font-weight: 400
  font-display: swap

@font-face
  font-family: "Huangyinqi Zhaopai"
  src: url("/fonts/HuangyinqiZhaopai/HuangyinqiZhaopai.ttf")
  font-style: normal
  font-weight: 400
  font-display: swap

@font-face
  font-family: "HK Grotesk"
  src: url("/fonts/HKGrotesk/HKGrotesk-Regular.ttf")
  font-style: normal
  font-weight: 400
  font-display: swap

@font-face
  font-family: "HK Grotesk"
  src: url("/fonts/HKGrotesk/HKGrotesk-SemiBold.ttf")
  font-style: normal
  font-weight: 600
  font-display: swap

@font-face
  font-family: "HK Grotesk"
  src: url("/fonts/HKGrotesk/HKGrotesk-Black.ttf")
  font-style: normal
  font-weight: 900
  font-display: swap

// Fonts
$font: "HK Grotesk", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
$font-header: "Donut Quest", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
$font-header-cn: "Huangyinqi Zhaopai", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

// Colors
$dark: #3A3A3A
$dark-60: #A6ABC0
$accent-120: #E55C4F
$accent: #EB6458
$accent-80: #F57165
$accent-60: #F5B4FF
$secondary: #2646D0
$light: #FFFFFF
$light-80: #FBFBFA
$success: #16B138

// Box-shadows
$box-shadow-accent: 0px 6px 25px rgba(235, 100, 88, 0.4)
$box-shadow-accent-80: 0px 6px 25px rgba(235, 100, 88, 0.6)

// Timing
$animationTime: .3s
