@import '@styles/variables'

.row
  flex-direction: column
  align-items: flex-start
  padding-top: 50px
  padding-bottom: 50px
  z-index: 2
  position: relative
  justify-content: flex-start

.subheader
  margin-top: 60px
  margin-bottom: 20px

.block
  display: flex
  flex-direction: column

.token
  font-size: 1.375rem
  font-weight: 600
  &:not(:last-child)
    margin-bottom: 18px

.farm
  position: relative
  a
    color: $secondary
  &:not(:last-child)
    margin-bottom: 32px

.number
  position: absolute
  top: -20px
  left: -20px
  font-size: 2rem
  font-weight: 600
  color: $accent-60
  filter: blur(2px)
  font-family: $font-header

.farmInner
  &:not(:last-child)
    margin-bottom: 6px

.outer
  padding: 110px 0

.buttons
  display: flex
  padding-left: 70px

.button
  width: 180px
  &:first-child
    margin-right: 24px