@import '@styles/variables'

.wrapper
  background-color: #434343
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23c2c2c3' fill-opacity='0.3' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E")
  min-height: 600px
  height: 100vh
  color: #fff
  position: relative
  *
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

.createdBy
  position: absolute
  bottom: 20px
  left: 20px
  font-family: $font-header
  color: #fff
  display: flex
  align-items: center
  z-index: 20
  transition: color $animationTime
  &:hover
    color: $accent

.connected
  position: absolute !important
  top: 20px
  right: 20px

.empty
  display: flex
  justify-content: center
  align-items: center

.row
  display: flex
  flex-direction: column !important
  width: 100%
  flex-wrap: nowrap
  justify-content: center !important

.header
  margin-bottom: 24px
  font-size: 42px

.cards
  width: 100%
  display: flex
  justify-content: center

.card:first-child
  margin-right: 24px