@import '@styles/variables'

.row
  flex-direction: column
  align-items: flex-start
  padding-top: 50px
  padding-bottom: 50px
  z-index: 2
  position: relative
  justify-content: flex-start

.subheader
  margin-top: 60px
  margin-bottom: 20px

.buttons
  display: flex
  flex-direction: column

.button
  &:not(:last-child)
    margin-bottom: 20px

.inputs
  padding: 50px 0

.input
  &:not(:last-child)
    margin-bottom: 18px