@import "@styles/variables"
@import "@styles/breakpoints"

.root
  height: 80px
  position: fixed
  top: 0
  width: 100%
  z-index: 5
  background: rgba(255, 255, 255, 0.6)
  backdrop-filter: blur(40px)

.logo
  cursor: pointer
