@import "@styles/variables"
@import "@styles/breakpoints"

.root
  border-radius: 16px
  backdrop-filter: blur(42px)

.blue
  background: linear-gradient(152.97deg, rgba(71, 198, 255, 0.2) 0%, rgba(71, 198, 255, 0) 100%)
  border: 1px solid #9ADFFD

.orange
  background: linear-gradient(152.97deg, rgba(255, 214, 141, 0.3) 0%, rgba(255, 214, 141, 0.05) 100%)
  border: 1px solid #FFD68D

.green
  background: linear-gradient(152.97deg, rgba(180, 255, 196, 0.3) 0%, rgba(180, 255, 196, 0.05) 100%)
  border: 1px solid #B4FFC4
